<div class="container my-5" data-controller="get-articles" data-get-articles-api-key-value="<%= ENV['NEWS_API_KEY'] %>">
  <div class="featured">
    <div class="heading"><h3>featured articles</h3></div>
    <div class="featured-articles">
      <% @featured_articles.each do |article| %>
        <div class="article-card">
          <div class="vote-overlay"><%= article.leaning.zero? ? 'Nil' : article.leaning %></div>
          <%= image_tag(article.photo_url) if article.photo_url?%>
          <h5><%= link_to article.title, article_path(article) %></h5>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row index-body">
    <div class="opposing-articles">
      <div class="heading"><h3>the opposite view</h3></div>
      <div class="opposing">
        <% @opposing_articles.each do |article| %>
          <div class="article-card">
          <div class="vote-overlay"><%= article.leaning.zero? ? 'Nil' : article.leaning %></div>
          <%= image_tag(article.photo_url) if article.photo_url?%>
          <h5><%= link_to article.title, article_path(article) %></h5>
        </div>
        <% end %>
      </div>
    </div>
    <div class="latest-articles" data-get-articles-target="list">
      <div class="heading"><h3>latest</h3></div>
      <div class="latest">
        <% @latest_articles.each do |article| %>
          <div class="article-card">
          <div class="vote-overlay"><%= article.leaning.zero? ? 'Nil' : article.leaning %></div>
          <%= image_tag(article.photo_url) if article.photo_url?%>
          <h5><%= link_to article.title, article_path(article) %></h5>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <button data-action="click->get-articles#fire">Fire</button>
</div>
