<div class="article-show row">
  <div class="article col-md-9">
    <div class="bookmark-show" id="bookmark_show">
      <% unless @article.bookmarked?(current_user) %>
      <%= link_to article_bookmarks_path(@article, origin: "show"), data: { turbo_method: :post } do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% else  %>
        <i class="fa-solid fa-bookmark"></i>
      <% end %>
    </div>
    <div class="article-head">
      <div class="cover-image" style="background-image: url( <%= @photo_url %> )"></div>
      <br>
      <div class="article-title"><h3><%= @article.title %></h3></div>
      <div class="article-infos">
        <div class="infos-left">
          <h5><%= @article.author %></h5>
          <p><%= @article.source %></p>
        </div>
        <div class="infos-date">
          <p><%= @article.date %></p>
        </div>
        <div class="infos-stats">
          <i class="fa-solid fa-chart-simple" style="color: #3c485d;"></i>
          <p>Votes: <%= @article_votes %></p>
          <i class="fa-regular fa-message"> </i>
          <p>Comments: <%= @article_comments %></p>
        </div>
      </div>
    </div>
    <div class="article-body">
        <div class="article-content " style="white-space: pre-line;">
          <p><%= @article.content %></p>
        </div>
        <div id="below-article" id="anchor">
          <% if @user_vote.present? %>
            <%= render "articles/after_vote", article: @article %>
            <%= render "articles/comments", article: @article, new_comment: @new_comment %>
          <% else %>
            <%= render "articles/before_vote", article: @article, new_vote: @new_vote %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="col-md-3 article-sidebar">
    <div class="sidebar-title"><h5>Related Articles</h5></div>
    <div class="related">
      <% @related_articles.each do |article| %>
        <div class="article-card-sm" >
          <div class="bookmark-show" id="bookmark_show">
            <% unless article.bookmarked?(current_user) %>
            <%= link_to article_bookmarks_path(article, origin: "show"), data: { turbo_method: :post } do %>
                <i class="fa-regular fa-bookmark"></i>
              <% end %>
            <% else  %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          </div>
          <%= image_tag(article.photo_url, data: { get_articles_target: "image", action: "error->get-articles#changeUrl"}) if article.photo_url? %>
          <!--<h5><%#= link_to article.title, article_path(article) %></h5>-->
              <!--<p><%#= article.content[0,35] %>...</p>-->
        </div>
        <div class="article-card-text">
          <h5><%= link_to article.title, article_path(article) %>...</h5>
        </div>
      <% end %>
    </div>
    <div class="sidebar-title"><h5>Opposing Views</h5></div>
    <div class="related">
      <% @opposing_articles.each do |article| %>
        <div class="article-card-sm">
          <div class="bookmark-show" id="bookmark_show">
            <% unless article.bookmarked?(current_user) %>
            <%= link_to article_bookmarks_path(article, origin: "show"), data: { turbo_method: :post } do %>
                <i class="fa-regular fa-bookmark"></i>
              <% end %>
            <% else  %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          </div>
          <%= image_tag(article.photo_url, data: { get_articles_target: "image", action: "error->get-articles#changeUrl"}) if article.photo_url? %>
          </div>
        <div class="article-card-text">
          <h5><%= link_to article.title[0,70], article_path(article) %>...</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
