<div class="article-show row">
  <div class="article col-md-9">
    <div class="bookmark-show" id="bookmark_show">
      <% unless @article.bookmarked?(current_user) %>
      <%= link_to article_bookmarks_path(@article, origin: "show"), data: { turbo_method: :post } do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% else  %>
        <i class="fa-solid fa-bookmark"></i>
      <% end %>
    </div>
    <div class="article-head">
      <div class="article-title"><h3><%= @article.title %></h3></div>
      <div class="cover-image" style="background-image: url( <%= @photo_url %> )"></div>
      <div class="article-infos">
        <div class="infos-left">
          <h5><%= @article.author %></h5>
          <p><%= @article.source %></p>
        </div>
        <div class="infos-date">
          <p><%= @article.date %></p>
        </div>
        <div class="infos-stats">
          <i class="fa-solid fa-chart-simple" style="color: #3c485d;"></i>
          <p>Votes: <%= @article_votes %></p>
          <i class="fa-regular fa-message"> </i>
          <p>Comments: <%= @article_comments %></p>
        </div>
      </div>
    </div>
    <div class="article-body">
      <div class="article-content">
        <div class="article-content " style="white-space: pre-line;">
          <p><%= @article.content %></p>
        </div>
        <% if @user_vote.present? %>
          <div class="after-vote-display">
            <h5>Thank you for voting!</h5>
            <p> <%= @article.votes.count %> users have now added their vote to this article </p>
            <div class="vote-value-cards">
              <div class="show-user-vote">
                <p class="bold-text">Your vote: </p>
                <%= @article.votes.last.value %>
              </div>
              <div class="show-leaning">
                <p class="bold-text">Voter Average: </p>
                <%= @article.leaning %>
              </div>
            </div>
          </div>
        <div class="comment-section"  data-controller="prevent-reload">
          <h5>Join the conversation</h5>
          <br>
          <div class="add-comment">
            <%= simple_form_for [@article, @new_comment], data: {
                prevent_reload_target: "form",
                action: "submit->prevent-reload#stayOnPage"
                } do |form| %>
              <%= form.input :content, label: false, placeholder: 'Add a comment...' %>
              <%= form.submit 'Submit Comment' %>
            <% end %>
          </div>
          <br>
          <% if @article.comments.any? %>
          <h5>Comments</h5>
            <div class="comments" data>
              <% @article.comments.each do |comment| %>
                <div class="row show-comment">
                  <div class="col comment-content">
                    <p class="bold-text"><%= comment.user.username %>:</p><p><%= comment.content %> </p><p class="timestamp"><%= comment.created_at %></p>
                  </div>
                  <div class="col comment-likes">
                    <%= link_to like_article_comment_path(@article, comment), data: { turbo_method: :put } do %>
                      <i class="fa-regular fa-thumbs-up" ></i>
                    <% end %>
                    <p><%= comment.likes %></p>
                    <%= link_to dislike_article_comment_path(@article, comment), data: { turbo_method: :put } do %>
                      <i class="fa-regular fa-thumbs-down"></i>
                    <% end %>
                    <p> <%= comment.dislikes %></p>
                  </div>
                </div>
              <% end  %>
            </div>
          <% end %>
        </div>
        <% else %>
          <div class="before-vote-card">
            <h5>We value your perspective!</h5>
            <p>How do you feel this article is leaning politically?</p>
            <br>
            <%= simple_form_for(@new_vote, url: article_votes_path(@article), method: :post) do |form| %>
              <div class="vote-box">
                <div class="radio-buttons">
                  <%= form.collection_radio_buttons :value, [[1, 'Far Left'], [2, 'Left'], [3, 'Neutral'], [4, 'Right'], [5, 'Far Right']], :first, :last, item_wrapper_tag: :span, item_wrapper_class: 'no-label' %>
                </div>
                <div class="submit-vote">
                  <%= form.submit 'Submit Vote' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
  <div class="col-md-3 article-sidebar">
      <!--<div class="heading"><h5>Insights</h5></div>-->
      <div class="sidebar-title"><h5>Related Articles</h5></div>
      <div class="related">
        <% @related_articles.each do |article| %>
          <div class="article-card-sm" >
            <div class="bookmark-show" id="bookmark_show">
              <% unless article.bookmarked?(current_user) %>
              <%= link_to article_bookmarks_path(article, origin: "show"), data: { turbo_method: :post } do %>
                  <i class="fa-regular fa-bookmark"></i>
                <% end %>
              <% else  %>
                <i class="fa-solid fa-bookmark"></i>
              <% end %>
            </div>
            <%= image_tag(article.photo_url, data: { get_articles_target: "image", action: "error->get-articles#changeUrl"}) if article.photo_url? %>
            <!--<h5><%#= link_to article.title, article_path(article) %></h5>-->
                <!--<p><%#= article.content[0,35] %>...</p>-->
          </div>
          <div class="article-card-text">
            <h5><%= link_to article.title, article_path(article) %>...</h5>
          </div>
        <% end %>
      </div>
      <div class="sidebar-title"><h5>Opposing Views</h5></div>
      <div class="related">
        <% @opposing_articles.each do |article| %>
        <div class="article-card-sm">
          <div class="bookmark-show" id="bookmark_show">
            <% unless article.bookmarked?(current_user) %>
            <%= link_to article_bookmarks_path(article, origin: "show"), data: { turbo_method: :post } do %>
                <i class="fa-regular fa-bookmark"></i>
              <% end %>
            <% else  %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          </div>
          <%= image_tag(article.photo_url, data: { get_articles_target: "image", action: "error->get-articles#changeUrl"}) if article.photo_url? %>
          <!--<h5><%#= link_to article.title, article_path(article) %></h5>-->
            <!--<div class="article-card-sm" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%#= article.photo_url if article.photo_url? %> )" >
            <div class="article-card-text">
              <h5><%#= link_to article.title, article_path(article) %></h5>
              <!--<p><%##= article.content[0,35] %>...</p>-->
          </div>
          <div class="article-card-text">
            <h5><%= link_to article.title[0,70], article_path(article) %>...</h5>
          </div>
        <% end %>
      </div>
      </div>
    </div>
</div>
