<nav>
  <div class="navbar-container">
    <div class="nav-left d-flex">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <div data-controller="toggle">
        <div data-toggle-target="togglableElement" class="d-none">
          <%= form_tag(search_articles_path, method: :get, remote: true) do %>
            <%= text_field_tag(:query, params[:query], placeholder: "Search...") %>
            <div id="search-results-container"></div>
            <button data-action="click->toggle#fire" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          <% end %>
        </div>
        <div data-toggle-target="togglableElementTwo">
          <button data-action="click->toggle#fire" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="logo">
      <%= link_to(root_path) { image_tag('veruslogo.png', alt: 'Logo', class: 'logo') } %>
    </div>
    <div class="nav-right">
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to "View profile", dashboard_path(view: 'bookmarked', default_param: "/dashboard?view=bookmarked"), class: "dropdown-item" %>
            <%#= link_to "View profile", "/dashboard?view=bookmarked", class: "dropdown-item" %>
            <%#= link_to "View profile", dashboard_path(view: 'bookmarked'), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
