<nav>
  <div class="navbar-container">
    <div class="nav-left">
      <i class="fa-solid fa-house"> <%= link_to "", root_path %> </i>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <%= image_tag('veruslogo.png', alt: 'Logo', class: 'logo') %>
    <div class="nav-right">
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <%= link_to "View profile", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
