<turbo-frame id="main-content-frame">
 <div class="bookmarked-heading"><h3>Commented Articles</h3></div>
  <div class="bookmarked">
    <% @commented_articles.reverse_each do |article| %>
      <div class="article-card">
        <div class="vote-overlay" style="<%= article.leaning_style %>"> <%= article.leaning_string %> </div>
        <%= image_tag(article.photo_url, data: { get_articles_target: "image", action: "error->get-articles#changeUrl"}) if article.photo_url? %>
        <h5><%= link_to article.title, article_path(article) %></h5>
        <div class="article-source">
          <p>Source: <%= article.source %></p>
        </div>
        <div class="bookmark-index">
          <i class="fa-solid fa-bookmark"></i>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>
