<!-- app/views/users/show.html.erb -->
<div class="dashboard" data-controller="content-loader">
  <div class="sidebar">
    <div class="consensus-score">
      <%= image_tag("https://static.thenounproject.com/png/5730574-200.png", alt: "Consensus Score Icon", class: "consensus-icon") %>
      Consensus Score: <%= current_user.consensus_score.round(2) %>
      <i class="fas fa-question-circle tooltip-icon" title="0 is the perfect score, the higher it gets, the more you diverge from the consensus"></i>
    </div>
    <br>

    <%= link_to 'Bookmarked', dashboard_path(view: 'bookmarked'), data: { turbo_frame: 'main-content-frame', turbo_action: 'replace' }, class: (@view == 'bookmarked' ? 'active' : '') %>
    <%= link_to 'Commented', dashboard_path(view: 'chats'), data: { turbo_frame: 'main-content-frame', turbo_action: 'replace' } %>
    <%= link_to 'Account Details', dashboard_path(view: 'account_details'), data: { turbo_frame: 'main-content-frame', turbo_action: 'replace' } %>


  </div>

  <div class="main-content" id="main-content">
    <turbo-frame id="main-content-frame">
    </turbo-frame>
  </div>
</div>
